body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.block{
    width: 100px;
    height: 100px;
    background: #f55104;
    position: relative;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bams{
    position: absolute;
    opacity: 0; 
    transition: 0.5s;
}

.jump{
    animation: jump .4s ease;
}

.visible{
   transform: scale(5);
   opacity: 1; 
}

@keyframes jump {
    50% {
      transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
  }